
# Entorno Virtual
venv/

# Base de datos local de SQLite
db.sqlite3
*.sqlite3

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de configuración de IDEs (como VS Code)
.vscode/

# Archivos de secretos (si los tuvieras por separado)
*.env
.env

# Carpetas de Visual Studio
.vs/