{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Gestión{% endblock %}</title>

    <!-- Estilo global -->
    <link rel="stylesheet" href="{% static 'gestion/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'gestion/css/styles.css' %}">
</head>
<body>

    <!-- ENCABEZADO GLOBAL,QUE ESE MUESTRA EN TODAS LAS PAGINAS -->
    <header>
        <div class="logo">Sistema de Gestión</div>
        <nav>
            {% if user.is_authenticated %}
                <span class="user-info">Hola, {{ user.username }} </span>
                <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn logout-btn">Cerrar sesión</button>
                </form>
            {% endif %}
        </nav>
    </header>

    <!-- CONTENIDO PRINCIPAL -->
    <main class="{% block main_class %}{% endblock %}">
        {% block content %}{% endblock %}
    </main>

    <!--  PIE DE PÁGINA QUE SE MUESTRA EN TODAS LAS PÁGINAS -->
    <footer>
        <p>&copy; 2025 Sistema de Gestión </p>
    </footer>

</body>
</html>
