{% extends "gestion/base.html" %}
{% block title %}Registros de Clientes - Admin{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1 class="text-center" style="color: #2c3e50;">Registro de Nuevos Clientes</h1>
    <hr>
    <div class="form-container">
        <h2>Registrar Nuevo Cliente</h2>
        <p>Completa el formulario para añadir un nuevo cliente al sistema.</p>
        <hr>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Guardar Cliente</button>
                <a href="{% url 'admin_home' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
    <div class="text-center mt-3">
        <a href="{% url 'admin_home' %}" class="btn btn-secondary">Volver al panel del administrador</a>
    </div>
</div>
{% endblock %}

